/* Estilos generales */
.search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.lista-productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Asegura que se muestren en columnas flexibles */
  gap: 20px;
  width: 100%;
  padding: 10px; /* Añadir padding para no tocar los bordes */
}

.tarjeta-producto {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.tarjeta-producto:hover {
  transform: scale(1.05);
}

.imagen-producto {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.informacion-producto {
  padding: 15px;
}

.informacion-producto h3 {
  font-size: 1rem;
  margin: 10px 0;
}

.informacion-producto p {
  font-size: 0.9rem;
  color: #555;
}

.precio {
  font-size: 1.1rem;
  font-weight: bold;
}

.calificacion {
  color: #f5a623;
}

.no-results {
  text-align: center;
  font-size: 1.2rem;
  color: #888;
}

/* Estilos para móviles */
@media (max-width: 768px) {
  .lista-productos {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Asegura una mayor flexibilidad */
    padding: 10px; /* Añadir padding para evitar que los elementos lleguen al borde */
  }

  .informacion-producto h3 {
    font-size: 0.9rem; /* Reducir el tamaño de la fuente para pantallas pequeñas */
  }

  .informacion-producto p {
    font-size: 0.8rem;
  }

  .precio {
    font-size: 1rem;
  }

  .calificacion {
    font-size: 0.9rem;
  }

  .buscador-container {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px; /* Espacio entre el buscador y los productos */
  }

  .search-bar input {
    width: calc(100% - 50px); /* Ajuste del input */
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px; /* Para mayor suavidad */
  }

  .search-bar button {
    width: 40px;
    height: 40px;
    font-size: 1rem;
    border-radius: 4px;
  }
}

@media (max-width: 480px) {
  .lista-productos {
    grid-template-columns: 1fr; /* Mostrar una columna */
  }

  .tarjeta-producto {
    margin-bottom: 15px;
  }

  .informacion-producto h3 {
    font-size: 1rem; /* Aumentar ligeramente el tamaño del título */
  }

  .informacion-producto p {
    font-size: 0.9rem;
  }

  .precio {
    font-size: 1.1rem;
  }

  .calificacion {
    font-size: 1rem;
  }

  .buscador-container {
    padding: 10px;
  }

  .search-bar input {
    padding: 12px;
    font-size: 1rem;
  }

  .search-bar button {
    width: 35px;
    height: 35px;
    font-size: 1rem;
  }
}
